body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  background: white;
}

body .header, body .footer, body .main {
  text-align: center;
}

.header {
  font-size: 9em;
}

.main {
  height: 24em;
}

.main .colborder {
  height: 100%;
  border-color: red;
}

.main .menu-item {
  font-size: 3em;
  cursor: pointer;
}

.main .menu-item:hover {
  font-size: 3em;
  background: #eeeeee;
}

.footer {
  margin-top: 2em;
}

.reference img {
  width:  120px;
}