                    <div class="span-3 bottom tab oss focus" title='oss'><a href="#work#oss">OSS</a></div>
                    <div class="span-18 bottom copy oss focus">
                      <div class="span-5 colborder">
                        <p>I've been writing code since I was six, though I only got serious about it a few years ago.</p>
                        <p>To the right are some of the more recent projects I've worked on or contributed to.</p>
                      </div>
                      <div class="span-11 last">
                        <div>
                          <p><a href="http://github.com/c42/wrest">Wrest</a></p>
                          <p>Wrest is a fluent HTTP API for Ruby.</p>
                        </div>
                        <div>
                          <p><a href="http://github.com/rspec/rspec">Rspec</a></p>
                          <p>Rspec is BDD library for Ruby.</p>
                        </div>
                        <div>
                          <p><a href="http://github.com/c42/goldberg">Goldberg</a></p>
                          <p>Goldberg is a CI server that understands the Ruby environment.</p>
                        </div>
                      </div>
                    </div>
