                  <div class="span-3 bottom tab bio focus" title='bio'><a href="#work#bio">Bio</a></div>
                  <div class="span-18 bottom copy bio focus">
                    <p>Hi, I'm Sidu Ponnappa. I live and work in <a href="http://en.wikipedia.org/wiki/Bangalore">Bangalore</a>, India.</p>
                    <p>I work at <a href="http://c42.in">C42 Engineering</a>, a boutique Ruby consultancy that I helped co-found. I've also been involved with <a href="http://incativ.com">Activ Mobs</a>, a group messaging service that a friend and I worked on back in '06.</p>
                    <p>Before moving to C42, I spent nearly five years working with (and learning from) some truly epic people at <a href="http://www.thoughtworks.com">ThoughtWorks</a>, mostly in Bangalore.</p>
                    <p>I <a href="http://lanyrd.com/profile/ponnappa">speak occasionally</a> at conferences. My next talk will be at RubyConf 2011 in New Orleans.</p>
                  </div>
