body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  background: white;
}

body .header, body .footer {
  text-align: center;
}

.header {
  background: #FFF6BF;
  color: #514721;
  border-width: 0 2px 2px 2px;
  border-color: #FFD324;
  border-style: solid;
  padding: .3em;
}

.main {
  height: 35em;
  margin-top: 2em;
}

.main .colborder {
  height: 100%;
  border-color: red;
}

.main .menu-item {
  margin-top: 1.5em;
  font-size: 3em;
  cursor: pointer;
  text-align: center;
  border-left: 1px dotted white;
  border-bottom: 1px dotted white;
}

.main .menu-item.focus {
  border-bottom: 1px dotted red;
}

.main .menu-item:hover, .main .menu-item.focus {
  font-size: 3em;
  border-left: 1px dotted red;
}

.main .menu-item a {
  color: inherit;
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
}

.main .content{ height: 85%; font-size: 1.5em; padding: .5em .5em 0 0;}
.main .content.focus { display: block; }

.main .column-two .tab { font-size: 2em; height: 2em; padding-left: .5em; border-width: 1px 1px 0 1px; border-style: dotted; cursor: pointer; }
.main .column-two .tab.focus, .main .column-two .tab:hover { color: white; }
.main .column-two .tab a { text-decoration: none; color: inherit; width: 100%; display: block; }

.main .column-two .bio.tab.focus, .main .column-two .bio.tab:hover { background: blue; }
.main .column-two .bio { border-color: blue; }

.main .column-two .biz.tab.focus, .main .column-two .biz.tab:hover { background: blue;}
.main .column-two .biz { border-color: blue; }

.main .column-two .ruby.tab.focus, .main .column-two .ruby.tab:hover {  background: red;}
.main .column-two .ruby { border-color: red; }

.main .column-two .agile.tab.focus, .main .column-two .agile.tab:hover {  background: green; }
.main .column-two .agile { border-color: green; }

.main .column-two .oss.tab.focus, .main .column-two .oss.tab:hover {  background: #00aaaa; }
.main .column-two .oss, .main .column-two .oss .colborder { border-color: #00aaaa; }
.main .column-two .oss .colborder { border-style: dotted; }

.main .column-two .copy { border-width: 1px 1px 0 0; border-style: dotted; padding: .75em; }
.main .column-two .copy.focus { display: block; }
.main .column-two .copy p { line-height: 1.5em; margin-bottom: .5em;}

.footer {
  margin-top: 6.5em;
}

.reference img {
  width:  120px;
}