        <div class="span-18 bottom content work">
          <%= render 'work/_tabs', section: @section %>

          <div class="span-18 bottom copy biz focus">
            <p><a href="http://c42.in">C42 Engineering</a> (April 2010 to present)</p>
            <p>As part of the founding team of C42 Engineering, I've helped bootstrap an offshore boutique Ruby consulting business from nothing to a $250k runway in just eighteen months.</p>
            <hr/>
            <p><a href="http://inactiv.com">Inactiv Labs</a> (September 2006 to December 2008)</p>
            <p>I was the minority partner in Inactiv Labs and was involved in building and managing two products, 'Activ Money' and 'Activ Mobs'. Activ Money never got very far, but Activ Mobs (which was basically Twitter, but in '06) was a tremendous success, growing to 60,000 registered users and 6,000 active users daily in just a couple of months.</p>
            <p>Despite working our way through several VC meetings, we failed to raise funding and eventually shut the service down. Lessons? Raising funding is very hard, especially in India.</p>
          </div>
          <div class="span-18 bottom copy ruby">Ruby</div>
          <div class="span-18 bottom copy agile">Agile</div>
        </div>
